<div class='container'>
    {% if App.with('Session').hasFlash('pw-reset') %}
        <h1 class='header'>Password Reset Email Sent!</h1>
        <p>If an account with that email exists you will will receive an email with a link to reset your password shortly</p>
    {% else %}
        <form method='post'>

            {{ App.with('Data').getCSRFTokenInput() }}

            <h1 class='header'>Request A Password Reset Email</h1>

            <div class='input-field'>
                <input placeholder='Email' id='email' name='email' type='email' class='validate' required>
                <br>
                <label for='email'>Email</label>
            </div>

            <button class='btn waves-effect btn-large' type='submit' value='Request Reset'>Request Reset</button>

        </form>
    {% endif %}
</div>
