{% if App.with('Session').hasFlash('pw-reset-success') %}

    <div class='container'>
        <h1 class='header'>Password Reset!</h1>
        <p>Your password has been reset! <a href='/login'>Click here to login</a> with your new password.</p>
    </div>

{% else %}

    {% import "_macros.html" as macros %}
    
    <div class='container'>

        <h1 class='header'>Reset Your Password</h1>

        <form method='post'>

            {{ App.with('Data').getCSRFTokenInput() }}

            <div class='input-field'>
                <input placeholder='Password' id='password' name='password' type='password' class='validate' required>
                <br>
                <label for='password'>Password</label>
                {{ macros.flashError('pw-reset-errors.password') }}
            </div>

            <div class='input-field'>
                <input placeholder='Confirm Password' id='password_verify' name='password_verify' type='password' class='validate' required>
                <br>
                <label for='password_verify'>Confirm Password</label>
                {{ macros.flashError('pw-reset-errors.password_verify') }}
            </div>

            <button class='btn waves-effect btn-large' type='submit' value='Reset Password'>Reset Password</button>

        </form>

    </div>

{% endif %}
