{% if App.with('Session').hasFlash('signup-success') %}

    <div class='container'>
        <h1 class='header'>Account Created!</h1>
        <p>Your account has successfully been created, a account activation email has been sent to your email address. 
        Follow the link contained within to activate your account and get started.</p>
    </div>

{% else %}

    {% import "_macros.html" as macros %}
    
    <div class='container'>

        <h1 class='header'>Sign Up</h1>

        <form method='post'>

            {{ App.with('Data').getCSRFTokenInput() }}

            <div class='input-field'>
                <input placeholder='Username' id='username' name='username' type='text' class='validate' required>
                <br>
                <label for='username'>Username</label>
                {{ macros.flashError('signup-errors.username') }}
            </div>

            <div class='input-field'>
                <input placeholder='Email' id='email' name='email' type='email' class='validate' required>
                <br>
                <label for='email'>Email</label>
                {{ macros.flashError('signup-errors.email') }}
            </div>

            <div class='input-field'>
                <input placeholder='Password' id='password' name='password' type='password' class='validate' required>
                <br>
                <label for='password'>Password</label>
                {{ macros.flashError('signup-errors.password') }}
            </div>

            <div class='input-field'>
                <input placeholder='Confirm Password' id='password_verify' name='password_verify' type='password' class='validate' required>
                <br>
                <label for='password_verify'>Confirm Password</label>
                {{ macros.flashError('signup-errors.password_verify') }}
            </div>

            <button class='btn waves-effect btn-large' type='submit' value='Sign Up'>Sign Up</button>

        </form>

    </div>
    
    {{ macros.flashInputs('signup-data') }}

{% endif %}
