/* ------------ DEFAULTS ------------------*/

.header {
    background-color:#C3D7DF;
    padding:20px;
}

body {
    background-color:#F5F5F5;
}

.footer {
    background-color:#67727A;
    padding:20px;
}
