/* ------------ DEFAULTS ------------------*/

body {
margin:0 auto;
}

body.disco-seo #header {
position:absolute;
top:0;
}

#header {
width:100%;
}

#body {
position:relative;
width:100%;
}

#footer {
width:100%;
}

